<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <clear />
    <packageSource key="NuGet">
      <package pattern="Newtonsoft.Json" />
      <package pattern="Spectre.Console" />
      <package pattern="Spectre.Console.Cli" />
    </packageSource>
  </packageSourceMapping>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
